examples/play_notify.json
[
    {
        "id": "ff776b13.2b49d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ec1c3b6f.9a2008",
        "type": "sonos-http-api-control",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "mode": "",
        "track": "",
        "volume": "",
        "clipall_value": "",
        "volume_value": "",
        "player": "Livingroom",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "3226cdbf.09ff32",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "mqtt-play",
        "topic": "sonos/set/Livingroom/control",
        "payload": "play",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "ba7599fc.f80fb8"
            ]
        ]
    },
    {
        "id": "d485dbcc.055118",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "node-pause",
        "topic": "",
        "payload": "pause",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "ec1c3b6f.9a2008"
            ]
        ]
    },
    {
        "id": "a45e0270.af112",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "node-play",
        "topic": "",
        "payload": "play",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "ec1c3b6f.9a2008"
            ]
        ]
    },
    {
        "id": "bfc984d0.a6fe38",
        "type": "sonos-http-api-notify",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "preset": "",
        "clip": "",
        "clipall": "",
        "player": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "70a6712c.44f93",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "mqtt-notify",
        "topic": "sonos/set/Livingroom/notify",
        "payload": "{\"command\":\"clip\" , \"uri\": \"window.mp3\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "bfc984d0.a6fe38"
            ]
        ]
    },
    {
        "id": "add9d445.69cab8",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "node-notify",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "e7c9835a.8c452"
            ]
        ]
    },
    {
        "id": "d34a2050.49861",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "mqtt-pause",
        "topic": "sonos/set/Livingroom/control",
        "payload": "pause",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "ba7599fc.f80fb8"
            ]
        ]
    },
    {
        "id": "e7c9835a.8c452",
        "type": "sonos-http-api-notify",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "preset": "",
        "clip": "window_closed.mp3",
        "clipall": "",
        "player": "Livingroom",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "cbae7568.d61b98",
        "type": "sonos-http-api-control",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "mode": "",
        "track": "next",
        "volume": "",
        "clipall_value": "",
        "volume_value": "",
        "player": "Livingroom",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "2ba705b1.c8942a",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "node-next",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "cbae7568.d61b98"
            ]
        ]
    },
    {
        "id": "8840ded.850b72",
        "type": "sonos-http-api-control",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "mode": "",
        "track": "previous",
        "volume": "",
        "clipall_value": "",
        "volume_value": "",
        "player": "Livingroom",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "dba7f5d9.af6aa8",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "node-prev",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8840ded.850b72"
            ]
        ]
    },
    {
        "id": "ba7599fc.f80fb8",
        "type": "sonos-http-api-control",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "mode": "",
        "track": "",
        "volume": "",
        "clipall_value": "",
        "volume_value": "",
        "player": "Livingroom",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "742456ea.3bb8f8",
        "type": "sonos-http-api-queue",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "songuri": "",
        "position": "favourite",
        "favourite": "",
        "positioninqueue": "",
        "name": "",
        "player": "Livingroom",
        "x": 430,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f7871456.f32c58",
        "type": "sonos-http-api-get-queue",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "player": "Livingroom",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "38999db5.da88e2"
            ]
        ]
    },
    {
        "id": "cbef9448.9e4d08",
        "type": "sonos-http-api-status",
        "z": "ff776b13.2b49d8",
        "confignode": "8c689c5f.117",
        "name": "",
        "player": "Livingroom",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "85132d73.7253a"
            ]
        ]
    },
    {
        "id": "85132d73.7253a",
        "type": "debug",
        "z": "ff776b13.2b49d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "42e6f253.1d672c",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "get Status",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "cbef9448.9e4d08"
            ]
        ]
    },
    {
        "id": "38999db5.da88e2",
        "type": "debug",
        "z": "ff776b13.2b49d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "ea60a475.ebe258",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "get Queue",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "f7871456.f32c58"
            ]
        ]
    },
    {
        "id": "53e30dbd.b2eb84",
        "type": "inject",
        "z": "ff776b13.2b49d8",
        "name": "",
        "topic": "",
        "payload": "{\"favourite\":\"Capital London\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "742456ea.3bb8f8"
            ]
        ]
    },
    {
        "id": "8c689c5f.117",
        "type": "sonos-http-api-config",
        "z": "",
        "name": "Sonos",
        "ip": "http://sonos:5005",
        "username": "admin",
        "password": "password"
    }
]